.header .nav li.item-select {
    background: #60412b;
}

.header .nav li:hover {
    background: #60412b;
}

.wtf-menu ul.submenu li:hover {
    background: #60412b;
}

.tp-caption.grey_heavy_72-light {
    color: #60412b;
}

.tp-caption.icon i {
    background: #60412b;
}

.services-one .service-sec .icon {
    background: #60412b;
}

.z-tabs.silver>ul>li.z-active>a {
    border-bottom: solid 5px #60412b;
    color: #60412b;
}

.z-tabs.horizontal .detail a:hover {
    background-color: #60412b;
}

.meet-specialists .detail h6 {
    color: #60412b;
}

.meet-specialists .detail a:hover {
    color: #60412b;
}

.latest-news .post .detail a:hover {
    color: #60412b;
}

.patients-testi .testi-sec span.name {
    color: #60412b;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #60412b;
}

.main-footer .tweets .text a:hover {
    color: #60412b;
}

.main-footer .newsletter .form input[type=submit]:hover {
    background: #60412b;
}

.cd-top {
    background-color: #60412b;
}

.header2 .nav li.item-select {
    background: #60412b url(../images/navi-plus.png) no-repeat 50% 32%;
}

.header2 .nav li.item-select:hover {
    background: #60412b url(../images/navi-plus.png) no-repeat 50% 32%;
}

.header2 .nav li:hover {
    background: #464C5B url(../images/navi-plus.png) no-repeat 50% 32%;
    border-radius: 0;
    padding: 46px 0 32px 0;
}

.tp-bullets.preview4 .bullet.selected {
    background: #60412b !important;
}

.services-two .service-sec .icon {
    background: #60412b;
}

.services-three .serv-sec {
    background: #60412b;
}

.services-three .serv-sec.serv-sec2 {
    background: #60412b;
}

.services-three .serv-sec.serv-sec3 {
    background: #60412b;
}

.welcome-two .welcome-detail ul li {
    color: #60412b;
}

.footer-light .emergency i {
    color: #02ADC9;
}

.footer-light .main-footer .title h5 {
    color: #60412b;
    border-bottom: solid 1px #60412b;
}

.footer-light .main-footer .tweets .text a {
    color: #60412b;
}

.footer-light .main-footer .tweets .icon {
    color: #60412b;
}

.footer-light .main-footer .get-touch ul li a:hover span {
    color: #60412b;
}


/** banner three **/

.main-banner-three {
    background: rgba(2, 173, 198, 0.69);
}


/** Fancybox overlay **/

.fancybox-overlay {
    background: rgba(2, 173, 198, 0.84);
}


/** Team Social icons **/

.cbp-caption-activeWrap {
    background-color: rgba(2, 173, 198, 0.81);
}

.appointment-form .form input[type=submit]:hover {
    background: #60412b;
}

.services-five .service-sec .icon {
    background: #60412b;
    box-shadow: 0 0 0 3px #60412b;
}

.sub-banner .detail ul li:last-child a {
    color: #60412b;
}

.sub-banner .detail ul li a:hover {
    color: #60412b;
}

.why-choose li.open .link {
    color: #60412b;
}

.why-choose li.open i {
    color: #60412b !important;
}

#services-slide .owl-controls .owl-page.active span {
    background: #60412b;
}

.welcome-three .welcome-detail ul li i {
    color: #60412b;
}

.member-detail .team-detail .name h6 {
    color: #60412b;
}

.year {
    color: #60412b;
}

.main-appointment-form .appointment-form {
    background: #60412b;
}

.main-appointment-form .appoint-icon {
    background-color: #60412b;
}

.contact-us .leave-msg .form input[type=submit]:hover {
    background: #60412b;
}

.contact-us .give-msg input[type=submit]:hover {
    background: #60412b;
}

.departments .depart-sec a:hover {
    background: #60412b;
}

.investigation .investigation-sec .title {
    background: #60412b;
}

.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
    color: #60412b;
    border-bottom: solid 5px #60412b;
}

.cbp-l-filters-list .cbp-filter-item:hover {
    border-bottom: solid 5px #60412b;
}

.main-gallery .layer i {
    background: #02B4D6;
}

.main-gallery .gallery-sec .detail h6 {
    color: #60412b;
}

.main-gallery .gallery-sec .detail {
    border-bottom: solid 4px #60412b;
}

.main-gallery a.gallery-sec:hover .detail {
    background: #60412b;
}

.main-gallery .paging a:hover {
    background: #60412b;
    border: solid 1px #60412b;
}

.main-gallery .paging a.selected {
    background: #60412b;
    border: solid 1px #60412b;
}

.news-posts .comment-box .detail a:hover {
    background: #60412b;
}

.news-posts .leave-reply .form input[type=submit]:hover {
    background: #60412b;
}

.news-posts .categories ul li a:hover {
    color: #60412b;
}

.news-posts .recent-posts .post-sec a.title:hover {
    color: #60412b;
}

.news-posts .news-sec .detail a.read-more:hover {
    background-color: #60412b;
}

.news-masonary .news-sec a:hover {
    color: #60412b;
}

.text-posts .post-sec a.title:hover {
    color: #60412b;
}

.text-posts .post-sec p a {
    color: #60412b;
}

.text-posts .post-sec ul li a:hover i {
    color: #60412b;
}

.text-posts .post-sec ul li a:hover span {
    color: #60412b;
}

.text-posts .next-pre a:hover {
    color: #60412b;
}

.patient-family .how-treat a:hover {
    background: #60412b;
}

.procedures-links span.title {
    background: #60412b;
}

.procedures .procedure-text ul li {
    color: #60412b;
}

.procedures .about-cancer-center span.name {
    color: #60412b;
}

#procedures-faq.accordion li.open .link {
    background-color: #60412b;
}

.research .research-detail li i {
    color: #60412b;
}

.services-content .serv-sec .detail h5 {
    color: #60412b;
}

.product-thumb label {
    background: #60412b;
}

.product-description h3 a {
    color: #60412b;
}

.product-description .product-cart-btn:hover,
.product-description .product-detail-btn:hover {
    color: #60412b;
}

.ui-widget-header {
    background: #60412b;
}

.top-products .top-products-detail a {
    color: #60412b;
}

.ratings.big i {
    color: #60412b;
}

.product-detail-slider .rslides_tabs li.rslides_here a {
    background: #60412b
}

a#add-review-btn:hover {
    background-color: #60412b;
}

.resp-vtabs li.resp-tab-active {
    color: #60412b;
}

.product-detail-description .btn-medium:hover {
    background: #60412b;
}

.pricing-table-footer a {
    background-color: #60412b;
}

.all-team-members .detail h6 {
    color: #60412b;
}

.all-team-members .detail a:hover {
    color: #60412b;
}

.cbp-l-caption-text a:hover {
    color: #60412b;
}

.main-footer .useful-links ul li a:hover {
    color: #60412b;
}

.main-footer .get-touch ul li a:hover span {
    color: #60412b;
}

#accordion2 .time-table {
    background: #60412b url(../images/time-icon-bg.png) no-repeat;
}

.top-bar .get-touch li:last-child a:hover {
    color: #2b96cc;
}

.meet-specialists .gallery-sec .layer {
    background-color: rgba(2, 173, 198, 0.84);
}

.member-detail .gallery-sec .layer {
    background-color: rgba(2, 173, 198, 0.81);
}

.meet-specialists .gallery-sec a:hover {
    color: #60412b;
}

.footer-light .main-footer .newsletter .form input[type=submit]:hover {
    background: #60412b;
}

.why-choose li i {
    color: #60412b;
}

#page .header a {
    background-color: #60412b !important;
}

.mm-menu {
    background: #60412b !important;
}

ul.z-tabs-nav.z-tabs-mobile.z-state-closed {
    background-color: #60412b !Important;
}

ul.z-tabs-mobile li:first-child {
    background-color: #60412b !important;
}

.header2.sticky .nav li.item-select {
    background: #60412b;
}

.shop-cart .cart-pro-detail .cancel i {
    color: #60412b;
}

.cash-decide .cart-total .total-sec a {
    background: #60412b;
}

.shop-cart .cart-update-sec a:hover {
    background: #60412b;
}